.color1 {color: #ffe06f;}
.color2 {color: #fffb90;}
.color3 {color: #0631db;}
.color4 {color: #6f89fd;}
.color5 {color: #fffaf4;}
.color6 {color: #000000}
* {
    box-sizing: border-box;
}
.container {
    color: #fffb90;
    font-family:'Times New Roman', Times, serif;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 0.5fr 0.15fr  0.7fr 6fr 0.3fr;
    row-gap: 1em;      
}
#torneos{
    grid-template-rows: 0.5fr 0.15fr  0.7fr 11fr 0.3fr;
}
#vocabulario{
    grid-template-rows: 0.5fr 0.1fr  0.3fr 8fr 0.3fr;
}
#acerca{
    grid-template-rows: 0.5fr 0.15fr  0.6fr 4fr 0.3fr;
}
#bases{
  grid-template-rows: 0.5fr 0.15fr  0.6fr 2fr 0.3fr;
}
header{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: center;
}
aside{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-color:#fffaf4;
}
aside a{ 
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-decoration: none;
    color:#0631db;
}
#menu{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    
}  
#menu div{
    flex: 1;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 3px;
}
#menu div:hover{
    background-color: #000000;
    text-decoration: none;
}  

nav{
    display: grid;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    background-color: #fffaf4;
    align-items: center;
}
nav div a{
    text-decoration: none;
    color: #0631db;
}
nav div a:hover{
    text-decoration: none;
    color: #ffe06f;
}
body{
    background-color: #ffe06f;
}
main{
    grid-column: 2 / 4;
    grid-row: 3 / 5;
    margin-left: 10px;
    background-color: #6f89fd;
}
footer{
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    text-align: center;
    color: #000000;
}
li{
    font-size: 20px;
    font-weight: bold;
}
h1{
    text-align: center;
    color:#000000
}
h2{
    text-align: center;
    color:#0631db
}
p{
    margin-left: 15px;
    font-size: 17px;
}
#formulario{
    text-align: center;
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.separador {
    margin-bottom: 10px;
}

img{
    height: 200px;
    width: 300px;
    margin-left: 400px;
}
#video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 150%; 
}
#audio{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 40px;
}
#certificados{
    margin-top: 50px;
}
#certificados img{
    text-align: center;
}


.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
    opacity: 1;
} 
.galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
    opacity: 1;
} 
.galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
    opacity: 1;
}

@media screen and (min-width:320px) {
    #logo {
        margin-top: -10px;
        margin-left: auto;
        height: 100px;
        width: 90px;
    }
    #menu div{
        flex: 1;
    }
    #menu div:hover{
        background-color: #000000;
        text-decoration: none;
        margin: -4px;
    } 
    #libro{
        height: auto;
        width: 35%;
        margin-left: 30%;
    }
    .galeria {
      margin-top: -60px;
      position: relative;
      margin-left: 30%;
      margin-right: auto;
    }
    
    .galeria img {
      position: absolute;
      margin-top: 80px;
      margin-left: -100px;
      opacity: 0;
      transition: opacity 3s;
      height: auto;
      width: 80%;
      max-width: 60%;
    }
    
    .galeria input[type=radio] {
      position: relative;
      margin-top: 260px;     
    }
    
    img {
        height: auto;
        width: 35%;
        margin-left: 30%;
      }
    #video{
        margin-top: 10%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 150%; 
    }
    #audio{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 40px;
    }
    #certificados{
        margin-top: 50px;
    }
    #certificados img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 60%;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .copa-container {
      display: flex;
      align-items: center;
      height: 250px;
    }

}
@media screen and (min-width:768px) {
    #logo {
        margin-top: -10px;
        margin-left: auto;
        height: 100px;
        width: 90px;
    }
    #libro{
        margin-top: 20px;
    }

    .galeria {
      position: relative;
      margin-left: 40%;
      margin-top: -150px;
    }
    
    .galeria img {
      position: absolute;
      margin-top: 180px;
      margin-left: -45%;
      opacity: 0;
      transition: opacity 3s;
      height: auto;
      width: 100%;
      max-width: 80%;
    }
    
    .galeria input[type=radio] {
      position: relative;
      margin-top: 450px;
      margin-left: 5px;
    }
    
    img {
      height: auto;
      width: 100%;
      max-width: 30%;
      margin-left: 30%;
    }
    
    #video{
        margin-top: 10%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 300px
    }
    #audio{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 60px;
    }
    
    #certificados {
      margin-top: 50px;
    }
    
    #certificados img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      width: 100%;
      max-width: 400px;
      margin-top: 25px;
      margin-bottom: 50px;
    }
    .copa-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 600px;
    }
  }
  @media screen and (min-width:1024px) {
    #logo {
        margin-top: -10px;
        margin-left: auto;
        height: 130px;
        width: 120px;
    }
    #libro{
        margin-top: 20px;
    }
    .galeria {
      position: relative;
      margin-left: 40%;
    }
    
    .galeria img {
      position: absolute;
      margin-top: 180px;
      margin-left: -45%;
      opacity: 0;
      transition: opacity 3s;
      height: auto;
      width: 100%;
      max-width: 80%;
    }
    
    .galeria input[type=radio] {
      position: relative;
      margin-top: 600px;
      margin-left: 5px;
    }
    
    img {
      height: auto;
      width: 100%;
      max-width: 30%;
      margin-left: 30%;
    }
    
    #video{
        margin-top: 10%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 300px
    }
    #audio{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 60px;
    }
    
    #certificados {
      margin-top: 50px;
    }
    
    #certificados img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      width: 100%;
      max-width: 400px;
      margin-top: 25px;
      margin-bottom: 50px;
    }
  }

/* animacion */
.copa-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
  }
  
  .copa {
    margin-left: -10%;
    width: 80%;
    max-width: 300px;
    height: auto;
    transform-origin: bottom center;
  }
  
  @keyframes wobble {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .copa.wobble {
    animation: wobble 1s ease-in-out infinite;
  }

  .f1 h2{
    margin-top: 100px;
  }
  .videojuegos h2{
    margin-top: 100px;
  }
  .csgo h2{
    margin-top: 100px;
  }
  .lol h2{
    margin-top: 100px;
  }
  .ajedrez h2{
    margin-top: 100px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }
  
  th {
    background-color: #000000;
    border: 1px solid #fffaf4;
    padding: 8px;
    text-align: center;
  }
  
  td {
    border: 1px solid #fffaf4;
    padding: 8px;
  }